/* ---------------- */
/* Global Style */
/* ---------------- */
@font-face {
    font-family: 'Roboto Flex';
    src: url(/ASSETS/FONTS/Roboto_Flex/RobotoFlex[GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght].ttf) format('ttf');
}
@font-face {
    font-family: 'Space Grotesk';
    src: url(/ASSETS/FONTS/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf) format('woff2');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
:root {
    --white: #ffffff;
    --black: #121212;
    --light-black: #1D2023;
    --roboto: 'Roboto Flex',sans-serif;
    --space: 'Space Grotesk',sans-serif;

    --fs-h1: clamp(9.5rem, 16.79vw + 1rem, 26.8rem);
    --fs-h2: clamp(3rem, 17.69vw + 1rem, 24rem);
    --fs-h3: clamp(3rem, 6vw + 1rem, 8.8rem);
    --fs1: 1.6rem;
    --fs2: 1.8rem;
    --fs3: 2rem;
    --fs-btn: 2.4rem;
}
a {
    text-decoration: none;
    color: var(--white);
}
ul, li {
    list-style: none;
}
body {
    background-color: var(--black);
    color: var(--white);
}
/* ---------------- */
/* Fonts */
/* ---------------- */
.logo, a, p, .copy-email {
    font-family: var(--space);
    font-style: normal;
}
.logo, a, .copy-email {
    text-transform: uppercase;
}
h1, h2, h3, h4, .btn {
    font-family: var(--roboto);
    text-transform: uppercase;
    font-style: normal;
}
/* ---------------- */
/* Fonts Logo*/
/* ---------------- */
.logo {
    font-weight: 700;
    font-size: var(--fs1);
    line-height: 97.5%;
    letter-spacing: 0.28em;
}
/* ---------------- */
/* Fonts Navbar*/
/* ---------------- */
a {
    font-variation-settings: 'wght' 200;
    font-size: var(--fs1);
    line-height: 97.5%;
    letter-spacing: 0.2em;
}
/* ---------------- */
/* Fonts Heading*/
/* ---------------- */
h1 {
    font-variation-settings: 'wdth' 40, 
        'wght' 400, 
        'GRAD' 0,
        'slnt' 0,
        'XTRA' 468,
        'XOPQ' 96,
        'YOPQ' 79,
        'YTLC' 514,
        'YTUC' 712,
        'YTAS' 750,
        'YTDE' -203,
        'YTFI' 738;
    /* font-size: 26.8rem; */
    font-size: var(--fs-h1);
    line-height: 86%;
    letter-spacing: 0.02em;
    font-stretch: 40;
}
h2 {
    font-variation-settings:
        'wdth' 32,
        'GRAD' -40,
        'XTRA' 468,
        'XOPQ' 96,
        'YOPQ' 79,
        'YTLC' 514,
        'YTUC' 712,
        'YTAS' 750,
        'YTDE' -203,
        'YTFI' 738;
    font-weight: 420;
    /* font-size: 24rem; */
    font-size: var(--fs-h2);
    line-height: 97%;
    letter-spacing: 0.035em;
    font-stretch: 32;
}
h3 {
    font-variation-settings:
        'wdth' 100,
        'wght' 1000,
        'xtra' 468,
        'xopq' 96,
        'yopq' 79,
        'ytlc' 514,
        'ytuc' 712,
        'ytas' 750,
        'ytde' -203,
        'ytfi' 738,
        'opsz' 78;
    /* font-size: 8.8rem; */
    font-size: var(--fs-h3);
    line-height: 79px;
    letter-spacing: 0.035em;
    text-align: center;
}
/* ---------------- */
/* Fonts Paragraph*/
/* ---------------- */
.intro-line2 p, .about-content, .questions p {
    font-variation-settings: 'wght' 200;
    font-size: var(--fs3);
    line-height: 138%;
    letter-spacing: 0.03em;
}
.intro-line1, .intro-line2 h1{
    word-spacing: 0.5vw;
}
.scroll p {
    font-family: 'Space Grotesk';
    font-variation-settings: 'wght' 200;
    font-size: var(--fs1);
    line-height: 138%;
    letter-spacing: 0.03em;
    transform: rotate(-90deg);
}
.about-icon p, .contact-heading p {
    text-align: center;
}
.about-icon p, .projects-heading p, .project-content p, .contact-heading p {
    font-variation-settings: 'wght' 340;
    font-size: var(--fs2);
    line-height: 110%;
    letter-spacing: 0.16em;
}
.project-content p {
    font-size: 2rem;
    letter-spacing: 0.03em;
}
.project-info p {
    font-variation-settings: 'wght' 340;
    font-size: 2rem;
    line-height: 148%;
    text-align: right;
    letter-spacing: 0.03em;
}
.questions p {
    text-align: center;
}
.copy-email {
    font-weight: 700;
    font-size: var(--fs2);
    line-height: 110%;
    text-align: center;
    letter-spacing: 0.16em;
}
/* ---------------- */
/* Fonts Footer*/
/* ---------------- */
footer p {
    font-variation-settings:
            'wght' 200;
    font-size: var(--fs1);
    line-height: 120%;
    letter-spacing: 0.03em;
}
/* ---------------- */
/* Button */
/* ---------------- */
.btn {
    background-color: transparent;
    color: var(--white);
    font-variation-settings:
        'wght' 800;
    font-size: var(--fs-btn);
    line-height: 84%;
    letter-spacing: 0.05em;
    border: 1px solid var(--white);
    padding: 27px 36px;
    border-radius: 40px;
}
/* ---------------- */
/* Header */
/* ---------------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #1212124e;
    backdrop-filter: blur(6px);
    z-index: 5;
}
.header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: transparent;
    padding: 72px 0 60px 0;

    position: relative;
    top: 0;
    left: 0;
}
.header-content {
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
}

.nav-links {
    display: flex;
}
.nav-links a {
    margin-left: 35px;
}
/* ---------------- */
/* Line */
/* ---------------- */
.line {
    width: calc(100vw - 140px);
    height: 0.2px;
    margin: 0 70px;
    background-color: var(--white);
    position: absolute;
    bottom: 0;
}
/* ---------------- */
/* Intro */
/* ---------------- */
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 70px;
}
.intro {
    margin-top: 150px;
    padding: 95px 0 190px 0;
    position: relative;
}
.intro-line1, .intro-line2 {
    width: 100%;
    /* border: 1px solid var(--white); */
}
.intro-line2 {
    display: flex;
    justify-content: left;
    align-items: center;
}
.intro-line2 h1, .intro-line2 p {
    border: 1px solid var(--white);
}
.intro-line2 h1 {
    width: 72.3%;
}
.intro-line2 p {
    width: 27.7%;
    max-width: 310px;
    text-align: left;
}
.scroll {
    width: fit-content;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-29%, -25%);
}
.scroll p {
    margin-top: 7px;
}
.arrow-down {
    width: 23px;
}


.scroll, .about-icon, .contact-heading {
    width: fit-content;
}